/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
  height: 100%;
}
body {
   height: 100%;
   background-image:url(water.jpe);
   text-align: center;
    }
    header {
        background-color:;
        text-align:center;
        font-size: 40;
        display: block;
        width: 800px;
        height: auto;
        margin: 0 auto;
    }
    nav {
        line-height:;
        background-color:#999999;
        width:125px;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        text-align:;
        padding:5px;
        display: block;
    }
